$fullTransparent:rgba(0, 255, 255, 0);

$darkPurpleSolid : rgb(24, 0, 41);
$darkPurple : rgba(13, 1, 22, 0.829);
$lightPurple: rgb(253, 213, 235);
$lightPurpleTrans: rgba(253, 213, 235, 0.466);
$darkPurpleTrans: rgba(35, 3, 39, 0.582);
$mainPurple:  rgb(69, 1, 100);

$darkTurquiseSolid : rgb(0, 24, 24);
$darkTurquise : rgba(0, 19, 19, 0.815);
$lightTurquise: rgb(201, 255, 185);
$lightTurquiseTrans: rgba(201, 255, 185, 0.472);
$darkTurquiseTrans: rgba(3, 37, 39, 0.582);
$mainTurquise:  rgb(0, 72, 90);

$darkAmberSolid: rgb(59, 4, 0);
$darkAmber: rgba(41, 3, 0, 0.829);
$lightAmber: rgb(247, 228, 176);
$lightAmberTrans: rgba(247, 228, 176, 0.486);
$darkAmberTrans:  rgba(39, 11, 3, 0.582);
$mainAmber:  rgb(117, 73, 6);


//watermelon
$darkWaterMelon: rgb(196, 247, 200);
$lightWaterMelon: rgb(0, 53, 41);
$mainWaterMelon:  rgb(255, 92, 133);

//prune
$darkPrune: rgb(77, 0, 42);
$lightPrune: rgb(255, 235, 180);
$mainPrune:  rgb(72, 95, 7);