$darkPurpleSolid : rgb(24, 0, 41);
$darkPurple : rgba(13, 1, 22, 0.829);
$lightPurple: rgba(253, 213, 235, 0.836);
$mainPurple:  rgb(69, 1, 100);

$darkTurquiseSolid : rgb(0, 24, 24);
$darkTurquise : rgba(0, 19, 19, 0.815);
$lightTurquise: rgb(201, 255, 185);
$mainTurquise:  rgb(0, 72, 90);

$darkAmberSolid: rgb(59, 4, 0);
$darkAmber: rgba(41, 3, 0, 0.829);
$lightAmber: rgb(247, 228, 176);
$mainAmber:  rgb(117, 73, 6);


//watermelon
$darkWaterMelon: rgb(196, 247, 200);
$lightWaterMelon: rgb(0, 53, 41);
$mainWaterMelon:  rgb(255, 92, 133);

//prune
$darkPrune: rgb(77, 0, 42);
$lightPrune: rgb(255, 235, 180);
$mainPrune:  rgb(72, 95, 7);