@use './colors.scss';

%centerize{
  border-radius: 3px;
  
  padding: 15px;
  text-align: center;
  margin:auto;
}

//amethyst
%amethystThemeDark {
  
  h1,summary{
    color: colors.$lightPurple;
    font-size:40px;//4vw;
  margin: 2vw;
  }
 
  p, span{
    color: colors.$lightPurple;
    font-size:20px;//1vw;
  margin: 1vw;
  }
  button, a {
    font-size:26px;//2vw;
    color:colors.$lightPurple;
    margin: 0.5vw;
    background-color: colors.$mainPurple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightPurple;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover, a:hover {
    font-size:26px;//2vw;
    color:colors.$darkPurple;
    margin: 0.5vw;
    background-color: colors.$lightPurple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 15% 0%;
    border: 1px solid colors.$lightPurple;
    cursor: pointer;
  }
  .question{
    font-size:26px;//3vw;
    color:colors.$darkPurple;
    padding: 3vw;
    margin: 1vw;
    background-color: colors.$lightPurple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkPurple;
    cursor: crosshair;
  }
  .answer{
    font-size:26px;//2vw;
    color:colors.$darkPurple;
    padding: 2vw;
    margin: 2vw;
    background-color: colors.$lightPurple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkPurple;
    cursor: crosshair;
  }
  input{
    font-size:20px;//2vw;
    color:colors.$darkPurple;
    padding: 2vw;
    margin: 2vw;
    background-color: colors.$lightPurple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkPurple;
    cursor: crosshair;
  }
 
}
%amethystThemeInverse {
 background-color: colors.$lightPurple;
  color: colors.$darkPurpleSolid;
  .btn {
    background-color: colors.$mainPurple;
    border: 1px solid colors.$lightPurple;
    color: colors.$lightPurple;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    border-radius: 5%;
    border: 1px solid colors.$lightPurple;
    cursor: pointer;
  }
  button, a {
    background-color: colors.$lightPurple;
    border: 1px solid colors.$mainPurple;
    color: colors.$mainPurple;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    border-radius: 5%;
    border: 1px solid colors.$mainPurple;
    cursor: pointer;
  
  }
}
%amethystThemeMain {
  background-color: colors.$mainPurple;
  color: colors.$lightPurple;
}

//turquise
%turquiseThemeDark {
  h1,summary{
    color: colors.$lightTurquise;
    font-size:40px;//4vw;
  margin: 2vw;
  }
 
  p, span{
    color: colors.$lightTurquise;
    font-size:20px;//1vw;
  margin: 1vw;
  }
  button, a {
    font-size:26px;//2vw;
    color:colors.$lightTurquise;
    margin: 0.5vw;
    background-color: colors.$mainTurquise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightTurquise;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover, a:hover {
    font-size:26px;//2vw;
    color:colors.$darkTurquise;
    margin: 0.5vw;
    background-color: colors.$lightTurquise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 15% 0%;
    border: 1px solid colors.$lightTurquise;
    cursor: pointer;
  }
  .question{
    font-size:26px;//3vw;
    color:colors.$darkTurquise;
    padding: 3vw;
    margin: 1vw;
    background-color: colors.$lightTurquise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkTurquise;
    cursor: crosshair;
  }
  .answer{
    font-size:26px;//2vw;
    color:colors.$darkTurquise;
    padding: 2vw;
    margin: 2vw;
    background-color: colors.$lightTurquise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkTurquise;
    cursor: crosshair;
  }
  input{
    font-size:20px;//2vw;
    color:colors.$darkTurquise;
    padding: 2vw;
    margin: 2vw;
    background-color: colors.$lightTurquise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkTurquise;
    cursor: crosshair;
  }
}
%turquiseThemeInverse {
  background-color: colors.$lightTurquise;
  color: colors.$darkTurquise;
}
%turquiseThemeMain {
  background-color: colors.$mainTurquise;
  color: colors.$lightTurquise;
}

//amber
%amberThemeDark {
  //background-color: colors.$darkAmber;
  //color: colors.$lightAmber;
  h1,summary{
    color: colors.$lightAmber;
    font-size:40px;//4vw;
  margin: 2vw;
  }
 
  p, span{
    color: colors.$lightAmber;
    font-size:20px;//1vw;
  margin: 1vw;
  }
  button, a {
    font-size:26px;//2vw;
    color:colors.$lightAmber;
    margin: 0.5vw;
    background-color: colors.$mainAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightAmber;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover, a:hover {
    font-size:26px;//2vw;
    color:colors.$darkAmber;
    margin: 0.5vw;
    background-color: colors.$lightAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 15% 0%;
    border: 1px solid colors.$lightAmber;
    cursor: pointer;
  }
  .question{
    font-size:26px;//3vw;
    color:colors.$darkAmber;
    padding: 3vw;
    margin: 1vw;
    background-color: colors.$lightAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkAmber;
    cursor: crosshair;
  }
  .answer{
    font-size:26px;//2vw;
    color:colors.$darkAmber;
    padding: 2vw;
    margin: 2vw;
    background-color: colors.$lightAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkAmber;
    cursor: crosshair;
  }
  input{
    font-size:20px;//2vw;
    color:colors.$darkAmber;
    padding: 2vw;
    margin: 2vw;
    background-color: colors.$lightAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
   padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$darkAmber;
    cursor: crosshair;
  }
}
%amberThemeInverse {
  background-color: colors.$lightAmber;
  color: colors.$darkAmber;
}
%amberThemeMain {
  background-color: colors.$mainAmber;
  color: colors.$lightAmber;
}
