<div class="{{theme}}">
  <div class="centerize">
    <h1>{{isDataReady()}}</h1>
    <details>
      <summary>Radicals list</summary>
      <button *ngFor="let radical of radicals" id="{{radical}}"  (click)="radicalClick($event)"
         class="unclicked">{{radical}}</button>
    </details>
    <details>
      <summary>Strokes list</summary>
      <button *ngFor="let stroke of strokes" id="{{stroke}}"  (click)="strokeClick($event)"
         class="unclicked">{{stroke}}</button>
    </details>
    <button (click)="loadingX();filterByPresence()">Pokaż tylko te kanji, które występują przynajmniej w jednym słówku w bazie
      {{alreadyChecked}}</button>
    <h1>Znaki:</h1>
    <div *ngIf="dataReady; else loading">
      <button *ngFor="let item of kanjiDb | 
        slice: lowValue : highValue" id={{kanjiHandler.toString(item)}}
        (click)="kanjiClick($event)">{{item.New}}</button>

      <!--  <button *ngFor="let item of kanjiDb" id={{kanjiHandler.toString(item)}} (click)="kanjiClick($event)">{{item.New}}</button>
    -->
    </div>
    <ng-template #loading>
      <div>
        <p>loading...</p>
      </div>
    </ng-template>
  </div>
</div>


<mat-paginator [length]="kanjiDb.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
  (page)="getPaginatorData($event)">
</mat-paginator>