<div class="{{theme}}">
    <div class="centerize">
      <button *ngFor="let radical of radicals" (click)="radicalClick($event)" class="unclicked">{{radical}}</button>
      <button *ngFor="let stroke of strokes" (click)="strokeClick($event)" class="unclicked">{{stroke}}</button>

        <h1>Znaki:</h1>
        <div >
        <button  *ngFor="let item of kanjiDb | 
        slice: lowValue : highValue" id={{kanjiHandler.toString(item)}} (click)="kanjiClick($event)">{{item.New}}</button>
   
      <!--  <button *ngFor="let item of kanjiDb" id={{kanjiHandler.toString(item)}} (click)="kanjiClick($event)">{{item.New}}</button>
    -->
    </div>

    </div>
</div> 

 
<mat-paginator [length]="kanjiDb.length"  
[pageSizeOptions]="pageSizeOptions"
[pageSize]="pageSize" 
(page)="getPaginatorData($event)">
</mat-paginator> 