@use './themes.scss';
@use './colors.scss';

.flexgame {
  color: white;
  @extend %centerize;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  div {
    flex-basis: 22%;
    padding: 10px;
  }
  span{
    border:solid pink 1px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 3vw;
    transition: 0.3s;
    cursor: pointer;
    color: pink;
  }
  span:hover{
    border:solid rgb(253, 103, 178) 3px;
    background-color: rgb(255, 255, 255);
    font-size: 3vw;
    transition: 0.3s;
    cursor: pointer;
    color: rgb(99, 17, 45)
  }
}

.amberTheme {
  @extend %amberThemeDark;
  .centerize {
    @extend %centerize;
  }
  .border {
    border-radius: 0px 35px;
    border: 2px solid colors.$lightAmberTrans;
    margin: 1vw;
    padding: 1vw;
    background-color: colors.$fullTransparent;
    transition: 0.3s;
  }
  .border:hover {
    border-radius: 35px 0px;
    border: 2px solid colors.$lightAmber;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    background-color: colors.$darkAmberTrans;
  }
}
.amethystTheme {
  @extend %amethystThemeDark;
  .centerize {
    @extend %centerize;
  }
  .border {
    border-radius: 0px 35px;
    border: 2px solid colors.$lightPurpleTrans;
    margin: 1vw;
    padding: 1vw;
    background-color: colors.$fullTransparent;
    transition: 0.3s;
  }
  .border:hover {
    border-radius: 35px 0px;
    border: 2px solid colors.$lightPurple;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    background-color: colors.$darkPurpleTrans;
  }
}
.turquiseTheme {
  @extend %turquiseThemeDark;
  .centerize {
    @extend %centerize;
  }
  .border {
    border-radius: 0px 35px;
    border: 2px solid colors.$lightTurquiseTrans;
    margin: 1vw;
    padding: 1vw;
    background-color: colors.$fullTransparent;
    transition: 0.3s;
  }
  .border:hover {
    border-radius: 35px 0px;
    border: 2px solid colors.$lightTurquise;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    background-color: colors.$darkTurquiseTrans;
  }
}
