@use './themes.scss';
@use './colors.scss';

.amberTheme {
    @extend %amberThemeDark;
    .centerize {
      @extend %centerize;
    }
    .border{
      border-radius: 0px 35px;
      border: 2px solid colors.$lightAmber;
      margin: 2vw;
      padding: 2vw;
      width: auto;
  }
}
  .amethystTheme {
    @extend %amethystThemeDark;
    .centerize {
      @extend %centerize;
    }
  }
  .turquiseTheme {
    @extend %turquiseThemeDark;
    .centerize {
      @extend %centerize;
    }
  }
