<div class="{{theme}}">


    <div *ngIf="summary===false" >
        
        <div class="border centerize">
            <div class="centerize">
                <p>Pozostało: {{listToDisplay.length}}</p>
            </div>
            <app-furigana class="question" [txtObj]="forFuri"></app-furigana>

            <!-- <p>{{questionText}} ({{romajiText}})</p>-->
            <div *ngIf="answerShown!==true">
                <button (click)="showAnswerClick()">Pokaż odpowiedź</button>
            </div>
            <div *ngIf="answerShown===true">
                <p>{{answerText}}</p>

                <button (click)="nextClick()">Dalej</button>
            </div>

        </div>
    </div>
    <div *ngIf="summary===true" class=" border centerize">
        <p><span>Przeglądnięto </span><span>{{chosenSet.length}}</span> 
            <span *ngIf="grammarBool234">elementy.</span>
            <span *ngIf="!grammarBool234">elementów.</span>
        </p>
    </div>
</div>