<div class="{{theme}}">
    <div class="centerize">
        <p>Pozostało: {{listToDisplay.length}}</p>
    </div>
    <div class="border">
    <div *ngIf="summary===false" class="centerize">
        <app-furigana class="question" [txtObj]="forFuri"></app-furigana>
   
       <!-- <p>{{questionText}} ({{romajiText}})</p>-->
        <div *ngIf="answerShown!==true">
            <button (click)="showAnswerClick()">Pokaż odpowiedź</button>
        </div>
        <div *ngIf="answerShown===true">
            <p>{{answerText}}</p>
         
            <button (click)="nextClick()">Dalej</button>
        </div>

    </div>
</div>
    <div *ngIf="summary===true" class="centerize">
        <p>Podsumowanie</p>
    </div>
</div>