@use './themes.scss';
@use './colors.scss';



.amberTheme {
  @extend %amberThemeDark;
  .centerize {
    @extend %centerize;
  }
  .kanji {
    color: colors.$darkAmber;
    font-size: 2vw;
    margin: 0.5vw;
  }
  .furi {
    color: colors.$darkAmber;
    font: size 0.7vw;
    margin: 0.3vw;
  }
}
.amethystTheme {
  @extend %amethystThemeDark;
  .centerize {
    @extend %centerize;
  }
  .kanji {
    color: colors.$darkPurple;
    font-size: 2vw;
    margin: 0.5vw;
  }
  .furi {
    color: colors.$darkPurple;
    font: size 0.7vw;
    margin: 0.3vw;
  }
}
.turquiseTheme {
  @extend %turquiseThemeDark;
  .centerize {
    @extend %centerize;
  }
  .kanji {
    color: colors.$darkTurquise;
    font-size: 2vw;
    margin: 0.5vw;
  }
  .furi {
    color: colors.$darkTurquise;
    font: size 0.7vw;
    margin: 0.3vw;
  }
}

.kanjiFont {
  font-size: 40px;
  height: 40px;
  text-align: center;
 // padding:10px;
}

.smallUp {
  font-size: 18px;
  height: 22px;

 // margin-top: -22px;
  margin: auto;
}
.smallDown {
  font-size: 18px;
  height: 22px;
  text-align: center;

 // margin-bottom: -32px;
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.invisible {
  color: rgba(255, 255, 255, 0);
}

div {
  // border:1px solid black;
}
span {
  // border:1px solid red;
}
