@use './themes.scss';
@use './colors.scss';

body, html {
  height: 100%;
}

.bg{
    width: 100%;
    height: 100%;
    background-color: black;
}
.h_fit{
height: fit-content;
}
.h_mx{
   height:  100%; 
}
.amberTheme {
    @extend %amberThemeDark; 
    .centerize {
      @extend %centerize;
    }
    .border{
      border-radius: 0px 35px;
      border: 2px solid colors.$lightAmberTrans;
      margin: 1vw;
      padding: 1vw;
      background-color:colors.$fullTransparent;
      transition: 0.3s;
    }
    .border:hover{
      border-radius: 35px 0px;
      border: 2px solid colors.$lightAmber;
      margin-top: 3vw;
      margin-bottom: 3vw;
      padding: 1vw;
      background-color:colors.$darkAmberTrans ;
    }
  
  background: url("bgAmber.jpg") no-repeat center fixed;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}



.amethystTheme {
    @extend %amethystThemeDark;
    .centerize {
      @extend %centerize;
    }
    .border{
      border-radius: 0px 35px;
      border: 2px solid colors.$lightPurpleTrans;
      margin: 1vw;
      padding: 1vw;
      background-color:colors.$fullTransparent;
      transition: 0.3s;
    }
    .border:hover{
      border-radius: 35px 0px;
      border: 2px solid colors.$lightPurple;
      margin-top: 3vw;
      margin-bottom: 3vw;
      padding: 1vw;
      background-color:colors.$darkPurpleTrans ;
  
    }
  background: url("bgAmethyst.jpg") no-repeat center fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.turquiseTheme {
    @extend %turquiseThemeDark;
    .centerize {
      @extend %centerize;
    }
    .border{
      border-radius: 0px 35px;
      border: 2px solid colors.$lightTurquiseTrans;
      margin: 1vw;
      padding: 1vw;
      background-color:colors.$fullTransparent;
      transition: 0.3s;
    }
    .border:hover{
      border-radius: 35px 0px;
      border: 2px solid colors.$lightTurquise;
      margin-top: 3vw;
      margin-bottom: 3vw;
      padding: 1vw;
      background-color:colors.$darkTurquiseTrans ;
  
    }
  background: url("bgTurquise.jpg") no-repeat center fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






.container{
   width: 100%;
   background-color: rgba(0, 0, 0, 0.739);
  
  // margin-bottom: 10px;
  // padding: 3em;
}
.margin{
   margin-top: 12px;
   margin-bottom: 12px;
}