@use './themes.scss';

body, html {
  height: 100%;
}

.bg{
    width: 100%;
    height: 100%;
    background-color: black;
}
.h_fit{
height: fit-content;
}
.h_mx{
   height:  100%; 
}
.amberTheme {
    @extend %amberThemeDark; 
  
  background: url("bgAmber.jpg") no-repeat center fixed;
   /* Full height */
  

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 // background-size: cover;
}
.amethystTheme {
    @extend %amethystThemeDark;
  
  background: url("bgAmethyst.jpg") no-repeat center fixed;
  background-size: cover;
}
.turquiseTheme {
    @extend %turquiseThemeDark;

  background: url("bgTurquise.jpg") no-repeat center fixed;
  background-size: cover;
}

.container{
   width: 100%;
   background-color: rgba(0, 0, 0, 0.739);
   margin-top: 12px;
  // margin-bottom: 10px;
  // padding: 3em;
}