<div class="{{theme}}">
   <h1>Zarządzanie zasobami:</h1>
    <div>
        <span>kana:</span>
        <span *ngFor="let item of generatedFields"><input (input)="onInput()"></span>
    </div>
    <div>
        <span>kanji:</span>
        <span *ngFor="let item of generatedFields"><input (input)="onInput()"></span>
    </div>
    <div>
        <span>romaji:</span>
        <span *ngFor="let item of generatedFields"><input (input)="onInput()"></span>
    </div>
    <div>
        <span>znaczenie:</span>
        <span><input></span>
    </div>

    <button (click)="fieldMinus()">-</button><span>Ilość pól</span><button (click)="fieldPlus()">+</button>
    <button (click)="SaveClick()">Zapisz</button>
    <p>{{saveState}}</p>
    

</div>