<h1 mat-dialog-title> {{data.kanji.New}}</h1>
<div mat-dialog-content>
  <ul>
    <li>Numer: {{data.kanji.nr}}</li>
    <li>Nowa wersja: {{data.kanji.New}}</li>
    <li *ngIf="data.kanji.Old">Stara wersja: {{data.kanji.Old}}</li>
    <li>Radykał: {{data.kanji.Radical}}</li>
    <li>Liczba kresek: {{data.kanji.Strokes}}</li>
    <li>Stopień: {{data.kanji.Grade}}</li>
    <li *ngIf="data.kanji.Year_added">Rok dodania: {{data.kanji.Year_added}}</li>
    <li>Znaczenie angielskie: {{data.kanji.English_meaning}}</li>
    <li>Czytanie w kanie: {{data.kanji.Readings_kana}}</li>
    <li>Czytanie w romaji: {{data.kanji.Readings_romaji}}</li>
    <li>Przykłady:
      <ul>
        <li *ngFor="let word of listToDisplay">{{word.kanji}} - {{word.reading}} - {{word.meaning}}</li>
      </ul>
    </li>
  </ul>
</div>