<div class="{{theme}}">
    <div class="centerize">
        <h1>Gry: {{totalRevealed}}/16</h1>
        <div class="flexgame">
            <div *ngFor="let item of memoElements">
                <div *ngIf="item.collected">
                    <span *ngIf="item.kanji" 
                        id={{item.character}}>{{item.character}}</span>
                    <span *ngIf="!item.kanji" 
                        id={{item.meaningPL}}>{{item.meaningPL}}</span>
                </div>
                <div *ngIf="!item.collected" >
                    <span *ngIf="item.kanji" (click)="memoClick($event)"
                        id={{item.character}}>???</span>
                    <span *ngIf="!item.kanji" (click)="memoClick($event)"
                        id={{item.meaningPL}}>???</span>
                </div>
            </div>
        </div>
        <div>
            <button (click)="startAgain()">start again</button>
        </div>
    </div>
</div>