<div class="{{theme}}">

  <div *ngIf="mode==='none'">
    <div class="centerize">
      <h1>Opcje:</h1>
    </div>
    <div class="centerize border">

      <button (click)='setTheme("amethystTheme")'>Motyw Ametystowy</button>
      <button (click)='setTheme("amberTheme")'>Motyw Bursztynowy</button>
      <button (click)='setTheme("turquiseTheme")'>Motyw Turkusowy</button>
    </div>
   
    <div class="centerize border">
    <h1>Konwerter romaji na kanę:</h1>
                
    <input type="text" placeholder="tu pisz w romaji" (input)="onInputChange($event)"/><span>{{txt}}</span>
    </div>
     <div>&nbsp;</div>
    <!-- <div class="centerize">
      <button (click)='exportClick()'>eksport</button>
      <button (click)='importClick()'>import</button>

    </div>
    
  </div>
  <div *ngIf="mode==='export'" class="centerize">
    <p>eksport</p>
    <app-export></app-export>
    <button (click)='backToLearnClick()'>Wróć</button>
  </div>
  <div *ngIf="mode==='import'" class="centerize">
    <p>import</p>
    <app-import></app-import>
    <button (click)='backToLearnClick()'>Wróć</button>
  </div>-->
  </div>