<div class="{{theme}}">
    <div class="centerize">
        <p class="bigHorizSpace">Poprawnych odpowiedzi: <span class="green">{{numberOfGoodAnswers}}</span> Niepoprawnych odpowiedzi: <span
                class="red">{{numberOfBadAnswers}}</span> <span *ngIf="summary!==true">Pozostało: {{listToDisplay.length}}</span></p>
    </div>
    <div class="border">
        <div *ngIf="exerciseType==='abcd'">

            <div *ngIf="summary===false" class="centerize">
                <div *ngIf="answerShown!==true">
                    <section *ngIf="textDirection !== 'jpToPl'">
                        <span class="question">{{questionText}}</span>
                    </section>
                    <section *ngIf="textDirection === 'jpToPl'">
                        <app-furigana class="question" [txtObj]="forFuri"></app-furigana>

                    </section>

                    <button *ngIf="textDirection === 'plToJp'" class="darkFont" (click)="answerAbcdClick('a',$event)">
                        <app-furigana [txtObj]="answerA"></app-furigana>
                    </button>
                    <button *ngIf="textDirection !== 'plToJp'" class="darkFont" (click)="answerAbcdClick('a',$event)">
                           {{answerA.meaningPL}}
                    </button>
                    
                    <button *ngIf="textDirection === 'plToJp'" class="darkFont" (click)="answerAbcdClick('b',$event)">
                        <app-furigana  [txtObj]="answerB"></app-furigana>
                    </button>
                    <button *ngIf="textDirection !== 'plToJp'" class="darkFont" (click)="answerAbcdClick('b',$event)">
                        {{answerB.meaningPL}}
                    </button>

                    <button *ngIf="textDirection === 'plToJp'" class="darkFont" (click)="answerAbcdClick('c',$event)">
                        <app-furigana  [txtObj]="answerC"></app-furigana>
                    </button>
                    <button *ngIf="textDirection !== 'plToJp'" class="darkFont" (click)="answerAbcdClick('c',$event)">
                        {{answerC.meaningPL}}
                    </button>

                    <button *ngIf="textDirection === 'plToJp'" class="darkFont" (click)="answerAbcdClick('d',$event)">
                        <app-furigana  [txtObj]="answerD"></app-furigana>
                    </button>
                    <button *ngIf="textDirection !== 'plToJp'" class="darkFont" (click)="answerAbcdClick('d',$event)">
                        {{answerD.meaningPL}}
                    </button>

                </div>
                <div *ngIf="answerShown===true">
                    <p class="answer">Poprawna odpowiedź:<br> <br><app-furigana [txtObj]="forFuri"></app-furigana>
                        <br> {{forFuri.meaningPL}}</p>
                    <p> Twoja odpowiedź:
                        <span *ngIf="textDirection === 'plToJp'">{{myAnswerText.character}}</span>
                        <span *ngIf="textDirection !== 'plToJp'">{{myAnswerText.meaningPL}}</span>

                        {{correctOrNot}}</p>
                    <button (click)="nextClick()">Dalej</button>
                </div>
            </div>
        </div>

        <div *ngIf="exerciseType==='writing'">

            <div *ngIf="summary===false" class="centerize">
                <div *ngIf="answerShown!==true">
                    <div>
                        <section class="question">{{questionText}}</section>
                    </div>

                    <input [formControl]="answerInput" placeholder="tu wpisz odpowiedź" matInput type='text'>
                    <button (click)="answerWritingClick()">Pokaż odpowiedź</button>
                </div>
                <div *ngIf="answerShown===true">
                    <p class="answer">Poprawna odpowiedź:<br> <br><app-furigana [txtObj]="forFuri"></app-furigana>
                        <br> {{forFuri.meaningPL}}</p>
                    <p>Twoja odpowiedź: {{myAnswerText}} {{correctOrNot}}</p>
                    <button (click)="nextClick()">Dalej</button>
                </div>
            </div>
        </div>

        <div *ngIf="exerciseType==='snapping'">

            <div *ngIf="summary===false" class="centerize">
                <div *ngIf="answerShown!==true">
                    <section class="question"> {{questionText}}</section>
                    <div>
                        <div id="boxes flex">
                            <p>Ułóż:</p>
                            <div class="box" id="resourceBox"></div>
                            <p>Dostępne elementy:</p>
                            <div class="box" id="setBox">
                                <button *ngFor="let block of snappingBlocksList2" (click)="switchClick($event)">
                                    <app-furigana class="{{block.sylabs}}" [txtObj]="block"></app-furigana>
                                </button>
                            </div>
                        </div>

                        
                        <button class="confirmMargin" (click)="answerSnappingClick($event)">Zatwierdź swoją odpowiedź</button>
                    </div>
                </div>
                <div *ngIf="answerShown===true">
                    <p class="answer">Poprawna odpowiedź:<br> <br><app-furigana [txtObj]="forFuri"></app-furigana>
                       <br> {{forFuri.meaningPL}}</p>
                    <p> Twoja odpowiedź: {{myAnswerText}} {{correctOrNot}}</p>
                    <button (click)="nextClick()">Dalej</button>
                </div>
            </div>

        </div>


    <div *ngIf="summary===true" class="centerize">
        <p>Koniec testu</p>
    </div>
    </div>




</div>