
<div class="{{theme}}">
    <div class="centerize">
        <p>Poprawnych odpowiedzi: <span class="green">{{numberOfGoodAnswers}}</span> Niepoprawnych odpowiedzi: <span class="red">{{numberOfBadAnswers}}</span> Pozostało: {{listToDisplay.length}}</p>
    </div>
<div class="border">
    <div *ngIf="exerciseType==='abcd'">
        
        <div *ngIf="summary===false" class="centerize">
            <section class="question">{{questionText}}</section>
            <div *ngIf="answerShown!==true">
                <button (click)="answerAbcdClick('a')">{{answerA}}</button>
                <button (click)="answerAbcdClick('b')">{{answerB}}</button>
                <button (click)="answerAbcdClick('c')">{{answerC}}</button>
                <button (click)="answerAbcdClick('d')">{{answerD}}</button>
            </div>
            <div *ngIf="answerShown===true">
                <p>Poprawna odpowiedź: {{answerText}} {{romaji}}. Twoja odpowiedź: {{myAnswerText}} {{correctOrNot}}</p>
                <button (click)="nextClick()">Dalej</button>
            </div>
        </div>
    </div>

    <div *ngIf="exerciseType==='writing'">
        
        <div *ngIf="summary===false" class="centerize">
            <section class="question">{{questionText}}</section>
            <div *ngIf="answerShown!==true">
                <input [formControl]="answerInput" placeholder="tu wpisz odpowiedź" matInput type='text'>
                <button (click)="answerWritingClick()">Pokaż odpowiedź</button>
            </div>
            <div *ngIf="answerShown===true">
                <p>Poprawna odpowiedź: {{answerText}} {{romaji}}. Twoja odpowiedź: {{myAnswerText}} {{correctOrNot}}</p>
                <button (click)="nextClick()">Dalej</button>
            </div>
        </div>
    </div>

    <div *ngIf="exerciseType==='snapping'">
        
        <div *ngIf="summary===false" class="centerize">
            <section class="question">{{questionText}}</section>

            <div id="boxes flex" *ngIf="answerShown!==true">
                <p>Ułóż:</p>
                <div class="box" id="resourceBox"></div>
                <p>Dostępne elementy:</p>
                <div class="box" id="setBox"> 
                    <button *ngFor="let block of snappingBlocksList"
                        (click)="switchClick($event)">{{block}}</button>
                </div>
            </div>

            <div *ngIf="answerShown!==true">
                <button (click)="answerSnappingClick($event)">Zatwierdź swoją odpowiedź</button>
            </div>
            <div *ngIf="answerShown===true">
                <p>Poprawna odpowiedź: {{answerText}} {{romaji}}. Twoja odpowiedź: {{myAnswerText}} {{correctOrNot}}</p>
                <button (click)="nextClick()">Dalej</button>
            </div>
        </div>

    </div>
</div>


    <div *ngIf="summary===true" class="centerize">
        <p>Podsumowanie</p>
    </div>


</div>