<div class="{{theme}}">
    <div class="centerize">
        <p>quiz works!</p>
    </div>

    <div *ngIf="exerciseType==='abcd'">
        <p>abcd</p>
        <div *ngIf="summary===false" class="centerize">
            <p>{{questionText}}</p>
            <div *ngIf="answerShown!==true">
                <button (click)="answerClick('a')">{{answerA}}</button>
                <button (click)="answerClick('b')">{{answerB}}</button>
                <button (click)="answerClick('c')">{{answerC}}</button>
                <button (click)="answerClick('d')">{{answerD}}</button>
            </div>
            <div *ngIf="answerShown===true">
                <p>{{answerText}}</p>
                <button (click)="nextClick()">Dalej</button>
            </div>
        </div>
    </div>

    <div *ngIf="exerciseType==='writing'">
        <p>writing</p>
        <div *ngIf="summary===false" class="centerize">
            <p>{{questionText}}</p>
            <div *ngIf="answerShown!==true">
                <input [formControl]="answerInput" placeholder="tu wpisz odpowiedź" matInput type='text'>
                <button (click)="showAnswerClick()">Pokaż odpowiedź</button>
            </div>
            <div *ngIf="answerShown===true">
                <p>{{answerText}}</p>
                <button (click)="nextClick()">Dalej</button>
            </div>
        </div>
    </div>

    <div *ngIf="exerciseType==='snapping'">
        <p>snapping</p>
        <div *ngIf="summary===false" class="centerize">
            <p>{{questionText}}</p>

            <div id="boxes flex" *ngIf="answerShown!==true">
                <p>Ułóż:</p>
                <div class="box" id="resourceBox">
                    <button (click)="switchClick($event)">gfjj</button>
                    <button (click)="switchClick($event)">gwe</button>
                    <button (click)="switchClick($event)">qqqgfjj</button>

                </div>
                <p>Dostępne elementy:</p>
                <div class="box" id="setBox"> <button (click)="switchClick($event)">wewefjj</button>
                </div>
            </div>

            <div *ngIf="answerShown!==true">
                <button (click)="showAnswerClick()">Zatwierdź swoją odpowiedź</button>
            </div>
            <div *ngIf="answerShown===true">
                <p>{{answerText}}</p>
                <button (click)="nextClick()">Dalej</button>
            </div>
        </div>

    </div>



    <div *ngIf="summary===true" class="centerize">
        <p>Podsumowanie</p>
    </div>


</div>