@use './themes.scss';
@use './colors.scss';

.amberTheme {
    @extend %amberThemeDark; 
    .box{
        border: 1px solid colors.$lightAmber;
    }
    .border{
        border-radius: 0px 35px;
        border: 2px solid colors.$lightAmberTrans;
        margin: 1vw;
        padding: 1vw;
        background-color:colors.$fullTransparent;
        transition: 0.3s;
      }
      .border:hover{
        border-radius: 35px 0px;
        border: 2px solid colors.$lightAmber;
        margin-top: 3vw;
        margin-bottom: 3vw;
        padding: 1vw;
        background-color:colors.$darkAmberTrans ;
      }
      .tagName{
        color:colors.$lightAmber;
      }
      .tags{
        cursor: pointer;
        margin: 1vw;
        padding: 20px;
        top:20;
        border: 2px solid colors.$lightAmberTrans;
        transition: 0.3s;
        border-radius: 0px 35px;
      }
      .tags:hover{
        cursor: pointer;
        padding: 20px;
        top:20;
        border: 2px solid colors.$lightAmberTrans;
        transition: 0.3s;
        border-radius: 35px 0px;
        margin: 1vw;
      }
      .unclicked{
        cursor: pointer;
        border-radius: 0px 35px;
        border: 2px solid colors.$lightAmberTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$darkAmberTrans;
        transition: 0.3s;
        color: colors.$lightAmber;
      }
      .unclicked:hover{
        cursor: pointer;
        border-radius: 0px 35px;
        border: 2px solid colors.$darkAmberTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$lightAmber;
        color:colors.$darkAmberTrans;
        transition: 0.3s;
      }
      .clicked:hover{
        border-radius: 0px 35px;
        border: 2px solid colors.$mainAmber;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$darkAmberTrans;
        transition: 0.3s;
        color: colors.$lightAmber;
      }
      .clicked{
        border-radius: 0px 35px;
        border: 2px solid colors.$darkAmberTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$mainAmber;
        color:colors.$lightAmberTrans;
        transition: 0.3s;
      }
}
.amethystTheme {
    @extend %amethystThemeDark;
    .box{
        border: 1px solid colors.$lightPurple;
    }
    .border{
        border-radius: 0px 35px;
        border: 2px solid colors.$lightPurpleTrans;
        margin: 1vw;
        padding: 1vw;
        background-color:colors.$fullTransparent;
        transition: 0.3s;
      }
      .border:hover{
        border-radius: 35px 0px;
        border: 2px solid colors.$lightPurple;
        margin-top: 3vw;
        margin-bottom: 3vw;
        padding: 1vw;
        background-color:colors.$darkPurpleTrans ;
    
      }
      .tagName{
        color:colors.$lightPurple;
      }
      .tags{
        cursor: pointer;
        margin: 1vw;
        padding: 20px;
        top:20;
        border: 2px solid colors.$lightPurpleTrans;
        transition: 0.3s;
        border-radius: 0px 35px;
      }
      .tags:hover{
        cursor: pointer;
        padding: 20px;
        top:20;
        border: 2px solid colors.$lightPurpleTrans;
        transition: 0.3s;
        border-radius: 35px 0px;
        margin: 1vw;
      }
      .unclicked{
        cursor: pointer;
        border-radius: 0px 35px;
        border: 2px solid colors.$lightPurpleTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$darkPurpleTrans;
        transition: 0.3s;
        color: colors.$lightPurple;
      }
      .unclicked:hover{
        cursor: pointer;
        border-radius: 0px 35px;
        border: 2px solid colors.$darkPurpleTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$lightPurple;
        color:colors.$darkPurpleTrans;
        transition: 0.3s;
      }
      .clicked:hover{
        border-radius: 0px 35px;
        border: 2px solid colors.$mainPurple;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$darkPurpleTrans;
        transition: 0.3s;
        color: colors.$lightPurple;
      }
      .clicked{
        border-radius: 0px 35px;
        border: 2px solid colors.$darkPurpleTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$mainPurple;
        color:colors.$lightPurpleTrans;
        transition: 0.3s;
      }
}
.turquiseTheme {
    @extend %turquiseThemeDark;
    .box{
        border: 1px solid colors.$lightTurquise;
    }
    .border{
        border-radius: 0px 35px;
        border: 2px solid colors.$lightTurquiseTrans;
        margin: 1vw;
        padding: 1vw;
        background-color:colors.$fullTransparent;
        transition: 0.3s;
      }
      .border:hover{
        border-radius: 35px 0px;
        border: 2px solid colors.$lightTurquise;
        margin-top: 3vw;
        margin-bottom: 3vw;
        padding: 1vw;
        background-color:colors.$darkTurquiseTrans ;
    
      }
      .tagName{
        color:colors.$lightTurquise;
      }
      .tags{
        cursor: pointer;
        margin: 1vw;
        padding: 20px;
        top:20;
        border: 2px solid colors.$lightTurquiseTrans;
        transition: 0.3s;
        border-radius: 0px 35px;
      }
      .tags:hover{
        cursor: pointer;
        padding: 20px;
        top:20;
        border: 2px solid colors.$lightTurquiseTrans;
        transition: 0.3s;
        border-radius: 35px 0px;
        margin: 1vw;
      }
      .unclicked{
        cursor: pointer;
        border-radius: 0px 35px;
        border: 2px solid colors.$lightTurquiseTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$darkTurquiseTrans;
        transition: 0.3s;
        color: colors.$lightTurquise;
      }
      .unclicked:hover{
        cursor: pointer;
        border-radius: 0px 35px;
        border: 2px solid colors.$darkTurquiseTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$lightTurquise;
        color:colors.$darkTurquiseTrans;
        transition: 0.3s;
      }
      .clicked:hover{
        border-radius: 0px 35px;
        border: 2px solid colors.$mainTurquise;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$darkTurquiseTrans;
        transition: 0.3s;
        color: colors.$lightTurquise;
      }
      .clicked{
        border-radius: 0px 35px;
        border: 2px solid colors.$darkTurquiseTrans;
        margin: 5px;
        padding: 1vw;
        background-color:colors.$mainTurquise;
        color:colors.$lightTurquiseTrans;
        transition: 0.3s;
      }
}


.flex {
    display: flex;
    flex-wrap: nowrap;
  }