<div class="{{theme}}">
    <h1>Zarządzanie zestawami:</h1>
    <div class="tags"><span class="tagName">Tagi: </span>
        <span *ngFor="let tag of tags" (click)="tagClick($event)" class="unclicked">{{tag}}</span>
    </div>
    <div id="boxes flex">
        <p>Tworzony zestaw <span *ngIf="not0Elements<4"> wybierz minimum 4 elementy, żeby móc zapisać </span>:
            <button *ngIf="not0Elements>0" (click)="clearListClick($event)">Wyczyść listę</button>
            <button *ngIf="not0Elements>3" (click)="saveClick($event)">Zapisz</button>{{saveState}}
        </p>
        <div class="box border" #resourceBox id="resourceBox">
            <button *ngFor="let content of resourceBoxContent" id="{{toStr(content)}}" (click)="switchClick($event)">{{content.character}}</button>
        </div>
        
        <p>Wybierz zagadnienia do nowego zestawu z poniższej listy:</p>
        <div class="box border" #setBox id="setBox"> 
        <!--    <button *ngFor="let block of rawData" id="{{toStr(block)}}" (click)="switchClick($event)">{{block.character}}</button>
        --> <button *ngFor="let content of setBoxContent" id="{{toStr(content)}}" (click)="switchClick($event)">
            {{content.character}} <!--tu nie moge dodac ruby, bo on czyta kanji z nazwy przycisku chyba, w kazdym razie z ruby nie dziala, moze event propagation lub cos...-->
        </button>
        </div>
    </div>
    <div>
        <h1>Zapisane zestawy</h1>
        <div *ngFor="let item of loadedData">
        <p class="border">
            <span  *ngFor="let el of item"> 
                <ruby>
                {{el.character}} <rt> {{converter.toKana(el.sylabs.join(''))}} </rt>
                </ruby> 
            </span>
            <button (click)="deleteClick($event)" id="{{item | json}}">Usuń zestaw</button>
        </p>
       </div>
    </div>
</div>