<div class="{{theme}}">
    <h1>Zarządzanie zestawami:</h1>

    <div id="boxes flex">
        <p>Tworzony zestaw <span *ngIf="not0Elements<4"> wybierz minimum 4 elementy, żeby móc zapisać </span>:
            <button *ngIf="not0Elements>0" (click)="clearListClick($event)">Wyczyść listę</button>
            <button *ngIf="not0Elements>3" (click)="saveClick($event)">Zapisz</button>{{saveState}}
        </p>
        <div class="box border" id="resourceBox"></div>
        <p>Tagi: 
            <span *ngFor="let tag of tags">{{tag}}</span>
        </p>
        <p>Wybierz zagadnienia do nowego zestawu z poniższej listy:</p>
        <div class="box border" id="setBox"> 
            <button *ngFor="let block of rawData" id="{{toStr(block)}}" (click)="switchClick($event)">{{block.character}}</button>
        </div>
    </div>
    <div>
        <h1>Zapisane zestawy</h1>
        <div *ngFor="let item of loadedData">
        <p class="border">
            <span  *ngFor="let el of item">{{el.character}}</span>
            <button (click)="deleteClick($event)" id="{{item | json}}">Usuń zestaw</button>
        </p>
       </div>
    </div>
</div>