<div class="{{theme}}">
    <p>manage-sets works!</p>
    <div id="boxes flex">
        <p>Zasoby:</p>
        <div class="box" id="resourceBox">
            <button (click)="switchClick($event)">gfjj</button>
            <button (click)="switchClick($event)">gwe</button>
            <button (click)="switchClick($event)">qqqgfjj</button>

        </div>
        <p>Zestaw <input></p>
        <div class="box" id="setBox"> <button (click)="switchClick($event)">wewefjj</button>
        </div>
    </div>
    <button (click)="SaveClick()">Zapisz</button>
    <p>{{saveState}}</p>
</div>