<div class="{{theme}}">
 <!--
  <div *ngIf="mode==='none'" class="centerize">
   <h1>Zarządzanie zestawami i zasobami:</h1>
    <div class="centerize">
  <button (click)='manageSetsClick()'>zestawy</button>
  <button (click)='manageResourcesClick()'>zasoby</button>
 
</div>
  </div>
  <div *ngIf="mode==='manage-resources'" class="centerize">
    
    <app-manage-resources></app-manage-resources>
    <button (click)='backToSetsClick()'>Wróć</button>
  </div>
  <div *ngIf="mode==='manage-sets'" class="centerize">
   -->
   <div class="centerize">
    <app-manage-sets></app-manage-sets>
   </div>
  <!-- <button (click)='backToSetsClick()'>Wróć</button>
  </div>--> 
</div>