<div class="{{theme}}">

  <div *ngIf="mode==='none'">
    <div class="centerize">
      <h1>Nauka języka japońskiego</h1>
    </div>
    <div class="centerize">
      <div class="border">
        <button (click)='presentationClick()'>Prezentacja materiału</button>
        <p>Oglądnij prezentację, żeby poznać nowe słówka i zwroty (wybrany zestaw: {{chosenSetString}})</p>
      </div>
      <div class="border">
        <button (click)='quizClick()'>Test</button>
        <p>Sprawdź swoje siły w teście (wybrany zestaw: {{chosenSetString}})</p>
      </div>
      <div class="border">
        <p>Lista dostępnych zestawów:</p>
        <div>
          <button  *ngFor="let item of preparedSets" (click)="chosenSetClick($event)" id="{{item | json}}">
            {{item.string}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mode==='presentation'">
    <div class="centerize">
      <h1>Prezentacja:</h1>
    </div>
    <app-presentation></app-presentation>
    <div class="centerize">
      <button class="dark" (click)='backToLearnClick()'>Wróć</button>
    </div>
  </div>
  <div *ngIf="mode==='quiz'">
    <div class="centerize">
      <h1>Test:</h1>
    </div>
    <app-quiz></app-quiz>
    <div class="centerize">
      <button class="dark" (click)='backToLearnClick()'>Wróć</button>
    </div>
  </div>

</div>