@use './themes.scss';
@use './colors.scss';

.amberTheme {
  @extend %amberThemeDark;
  .centerize {
    @extend %centerize;
  }
  .dark{
    font-size:26px;//2vw;
    color:colors.$lightAmber;
    margin: 1vw;
    background-color: colors.$darkAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 1vw 1vw;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightAmber;
    cursor: pointer;
  }
  .border{
    border-radius: 0px 35px;
    border: 2px solid colors.$lightAmberTrans;
    margin: 1vw;
    padding: 1vw;
    background-color:colors.$fullTransparent;
    transition: 0.3s;
  }
  .border:hover{
    border-radius: 35px 0px;
    border: 2px solid colors.$lightAmber;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    background-color:colors.$darkAmberTrans ;

  }
  .chosen{
    border-radius: 35px 0px;
    border: 2px solid colors.$lightAmber;
 
   
    background-color: colors.$darkAmber;
    color:colors.$lightAmber;
  }
  .span{
    color: inherit;
    transition: 0.3s;
  }
  .span:hover{
    color: inherit;
  }
}
.amethystTheme {
  @extend %amethystThemeDark;
  .centerize {
    @extend %centerize;
  }
  .dark{
    font-size:26px;//2vw;
    color:colors.$lightPurple;
    margin: 1vw;
    background-color: colors.$darkPurple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 1vw 1vw;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightPurple;
    cursor: pointer;
  }
  .border{
    border-radius: 0px 35px;
    border: 2px solid colors.$lightPurpleTrans;
    margin: 1vw;
    padding: 1vw;
    background-color:colors.$fullTransparent;
    transition: 0.3s;
  }
  .border:hover{
    border-radius: 35px 0px;
    border: 2px solid colors.$lightPurple;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    background-color: colors.$darkPurpleTrans;

  }
  .chosen{
    border-radius: 35px 0px;
    border: 2px solid colors.$lightPurple;
 
   
    background-color: colors.$darkPurple;
    color:colors.$lightPurple;
  }
  .span{
    color: inherit;
    transition: 0.3s;
  }
  .span:hover{
    color: inherit;
  }
}
.turquiseTheme {
  @extend %turquiseThemeDark;
  .centerize {
    @extend %centerize;
  }
  .dark{
    font-size:26px;//2vw;
    color:colors.$lightTurquise;
    margin: 1vw;
    background-color: colors.$darkTurquise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 1vw 1vw;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightTurquise;
    cursor: pointer;
  }
  .border{
    border-radius: 0px 35px;
    border: 2px solid colors.$lightTurquiseTrans;
    margin: 1vw;
    padding: 1vw;
    background-color:colors.$fullTransparent;
    transition: 0.3s;
  }
  .border:hover{
    border-radius: 35px 0px;
    border: 2px solid colors.$lightTurquise;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    background-color: colors.$darkTurquiseTrans;

  }
  .chosen{
    border-radius: 35px 0px;
    border: 2px solid colors.$lightTurquise;
 
   
    background-color: colors.$darkTurquise;
    color:colors.$lightTurquise;
  }
  .span{
    color: inherit;
    transition: 0.3s;
  }
  .span:hover{
    color: inherit;
  }
}

.center {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
