@use './themes.scss';
@use './colors.scss';

.amberTheme {
  @extend %amberThemeDark;
  .centerize {
    @extend %centerize;
  }
  .dark{
    font-size:26px;//2vw;
    color:colors.$lightAmber;
    margin: 1vw;
    background-color: colors.$darkAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 1vw 1vw;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightAmber;
    cursor: pointer;
  }
  .border{
    border-radius: 0px 35px;
    border: 2px solid colors.$lightAmberTrans;
    margin: 1vw;
    padding: 1vw;
    background-color: rgba(0, 255, 255, 0);
    transition: 0.3s;
  }
  .border:hover{
    border-radius: 35px 0px;
    border: 2px solid colors.$lightAmber;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    background-color: rgba(39, 11, 3, 0.582);

  }
}
.amethystTheme {
  @extend %amethystThemeDark;
  .centerize {
    @extend %centerize;
  }
}
.turquiseTheme {
  @extend %turquiseThemeDark;
  .centerize {
    @extend %centerize;
  }
}

.center {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
