@use './themes.scss';
@use './colors.scss';

.amberTheme {
  @extend %amberThemeDark;
  .centerize {
    @extend %centerize;
  }
  .dark{
    font-size:2vw;
    color:colors.$lightAmber;
    margin: 1vw;
    background-color: colors.$darkAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 1vw 1vw;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightAmber;
    cursor: pointer;
  }
  .border{
    border-radius: 0px 35px;
    border: 2px solid colors.$lightAmber;
    margin: 2vw;
    padding: 2vw;
  }
}
.amethystTheme {
  @extend %amethystThemeDark;
  .centerize {
    @extend %centerize;
  }
}
.turquiseTheme {
  @extend %turquiseThemeDark;
  .centerize {
    @extend %centerize;
  }
}

.center {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
