@use './colors.scss';

@use './themes.scss';

.amethystTheme {
  @extend %amethystThemeMain;
  .button {
    color: colors.$lightPurple;
    background-color: colors.$darkPurple;
    margin: 5px;
    border: 1px solid colors.$lightPurple;
  }
}
.amberTheme {
  @extend %amberThemeMain;
  .button {
    font-size:2vw;
    color:colors.$lightAmber;
    margin: 1vw;
    background-color: colors.$darkAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 1vw 1vw;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightAmber;
    cursor: pointer;

  }
}
.turquiseTheme {
  @extend %turquiseThemeMain;
  .button {
    color: colors.$lightTurquise;
    background-color: colors.$darkTurquise;
    border: 1px solid colors.$lightTurquise;

  }
}
.group {
  border: 1px solid white;
  padding: 10px 6px;
}
.pressed {
  background-color: black;
}
p, span{
  color: colors.$lightAmber;
  font-size:2vw;

}
mat-toolbar{
  height: auto;
}
