@use './colors.scss';

@use './themes.scss';

.amethystTheme {
  @extend %amethystThemeMain;
  span{
    font-size:20px;//1.5vw;
  }
  button, a {
    font-size:20px;//1vw;
    color:colors.$lightPurple;
    margin: 0.5vw;
    background-color: colors.$darkPurple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightPurple;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover, a:hover {
    font-size:20px;//1vw;
    color:colors.$darkPurple;
    margin: 0.5vw;
    background-color: colors.$lightPurple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 10px;
    border-radius: 15% 0%;
    border: 1px solid colors.$lightPurple;
    cursor: pointer;
  }
}
.amberTheme {
  @extend %amberThemeMain;
  span{
    font-size:20px;//1.5vw;
  }
  button, a {
    font-size:20px;//1vw;
    color:colors.$lightAmber;
    margin: 0.5vw;
    background-color: colors.$darkAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightAmber;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover, a:hover {
    font-size:20px;//1vw;
    color:colors.$darkAmber;
    margin: 0.5vw;
    background-color: colors.$lightAmber;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 10px;
    border-radius: 15% 0%;
    border: 1px solid colors.$lightAmber;
    cursor: pointer;
  }
}
.turquiseTheme {
  @extend %turquiseThemeMain;
  span{
    font-size:20px;//1.5vw;
  }
  button, a {
    font-size:20px;//1vw;
    color:colors.$lightTurquise;
    margin: 0.5vw;
    background-color: colors.$darkTurquise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 10px;
    border-radius: 0% 15%;
    border: 1px solid colors.$lightTurquise;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover, a:hover {
    font-size:20px;//1vw;
    color:colors.$darkTurquise;
    margin: 0.5vw;
    background-color: colors.$lightTurquise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   // font-size: 16px;
    padding: 10px;
    border-radius: 15% 0%;
    border: 1px solid colors.$lightTurquise;
    cursor: pointer;
  }
}
.group {
  border: 1px solid white;
  padding: 10px 6px;
}
.pressed {
  background-color: black;
}
p, span{
  color: inherit;
  font-size:20px;//2vw;

}
mat-toolbar{
  height: auto;
}
