<mat-toolbar class="{{theme}}">
  <span>J-Vocab</span>
  <span>
    <a mat-raised-button class="button" routerLink="/learn" (click)="setTheme()">Nauka</a>
    <a mat-raised-button class="button" routerLink="/sets" (click)="setTheme()">Zestawy</a>
    <a mat-raised-button class="button" routerLink="/kanji" (click)="setTheme()">Znaki</a>
    <a mat-raised-button class="button" routerLink="/games" (click)="setTheme()">Gry</a>
    <a mat-raised-button class="button" routerLink="/options" (click)="setTheme()">Opcje</a>
  </span>
</mat-toolbar>